%h1 Register

= form_for :user, method: :post do |f|
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.text_field :password
  = f.hidden_field :type, value: 'user'
  %p
    = f.submit 'Register'
